@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap');

.background {
    background-color: #F85035;
    height: 100vh;
}

.container {
    width: 338px;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-rows: 95px 400px;
}

.topContainer {
    width: 100%;
    background-color: #da4932;
    border-radius: 7rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    padding: 10px 0;
    text-align: right;
    .subDisplay {
        position: absolute;
        margin-left: 30px;
        color: #f9f9f9;
        text-shadow: 0px 4px 7px rgba(0,0,0,0.25);
    }
    .calcDisplay {
        color: #f9f9f9;
        padding: 0 2rem;
        font-size: 2.4rem;
        text-shadow: 0px 4px 7px rgba(0,0,0,0.25);
    }
}

.bottomContainer {
    width: 100%;
    display: block;
}

.btn {
    border: none;
    font-size: 1.9rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 10px 26px 0px rgba(0, 0, 0, 0.27);
    margin: 12px 12px 0 12px;
    transition:all 0.1s ease-in-out 0s;
    &:hover {
        box-shadow: inset 0 0 100px 100px rgba(221, 221, 221, 0.247);
    }
    &:active {
        text-decoration: none;
        outline: none;
        box-shadow: inset 0 0 100px 100px rgba(145, 145, 145, 0.5);
    }
    &:focus {
        outline: none;
    }
    &.btnCircle {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
}

.leftContainer {
    width: 80%;
    float: left;
    .btn {
        margin-left: 0;
    }
}

.symbolContainer {
    .btn {
        background-color: #FBA39A;
        color: #fff;
    }
}

.numberContainer {
    .btn {
        background-color: #fff;
        color: #F85035;
    }

    .zero {
        height: 70px;
        width: 150px;
        border-radius: 5rem;
    }
}

.rightContainer {
    width: 20%;
    float: right;
    .btn {
        background-color: #FBA39A;
        color: #fff;
        font-size: 2.8rem;
        margin-left: 0;
    }
}