<div class="background">
    <div class="container">
        <div class="topContainer">
            <div class="subDisplay">{{ subText }}</div>
            <span class="calcDisplay">{{ mainText ? mainText : '0' }}</span>
        </div>
        <div class="bottomContainer">
            <div class="leftContainer">
                <div class="symbolContainer">
                    <button (click)="clickFunction('allClear')" class="btn btnCircle symbol">AC</button>
                    <!-- <button (click)="clickFunction('clear')" class="btn btnCircle symbol">C</button> -->
                    <button (click)="clickFunction('plusMinus')" class="btn btnCircle symbol plusMinus">+/−</button>
                    <button (click)="clickFunction('percent')" class="btn btnCircle symbol percentage">%</button>
                </div>
                <div class="numberContainer">
                    <button (click)="clickKey(7)" class="btn btnCircle number">7</button>
                    <button (click)="clickKey(8)" class="btn btnCircle number">8</button>
                    <button (click)="clickKey(9)" class="btn btnCircle number">9</button>
                    <button (click)="clickKey(4)" class="btn btnCircle number">4</button>
                    <button (click)="clickKey(5)" class="btn btnCircle number">5</button>
                    <button (click)="clickKey(6)" class="btn btnCircle number">6</button>
                    <button (click)="clickKey(1)" class="btn btnCircle number">1</button>
                    <button (click)="clickKey(2)" class="btn btnCircle number">2</button>
                    <button (click)="clickKey(3)" class="btn btnCircle number">3</button>
                    <button (click)="clickKey(0)" class="btn number zero">0</button>
                    <button (click)="clickKey('.')" class="btn btnCircle number">.</button>
                </div>
            </div>
            <div class="rightContainer">
                <button (click)="clickKey('/')" class="btn btnCircle rightOperator">÷</button>
                <button (click)="clickKey('x')" class="btn btnCircle rightOperator">×</button>
                <button (click)="clickKey('-')" class="btn btnCircle rightOperator">−</button>
                <button (click)="clickKey('+')" class="btn btnCircle rightOperator">+</button>
                <button (click)="getAnswer()" class="btn btnCircle rightOperator">=</button>
            </div>
        </div>
    </div>
</div>